// Modify this logic with the AsModel.mustache template
if ((typeof({{{dataType}}}) == typeof(Models.ClanWar) || typeof({{{dataType}}}) == typeof(Models.ClanWarLeagueGroup)) && RawContent.Contains("notInWar"))
    return default;

return IsSuccessStatusCode
    ? System.Text.Json.JsonSerializer.Deserialize<{{{dataType}}}>(RawContent, _jsonSerializerOptions)
    : default;