# https://github.com/alirezanet/publish-nuget

name: publish to nuget
on:
  push:
    branches:
      - master # Default release branch
jobs:
  publish:
    name: build, pack & publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 9.0.x

      # Publish
      - name: CocApi - publish on version change
        uses: alirezanet/publish-nuget@v3.0.4
        continue-on-error: true
        with:
          # Filepath of the project to be packaged, relative to root of repository
          PROJECT_FILE_PATH: src/CocApi/CocApi.csproj
          
          # NuGet package id, used for version detection & defaults to project name
          # PACKAGE_NAME: Core
          
          # Filepath with version info, relative to root of repository & defaults to PROJECT_FILE_PATH
          # VERSION_FILE_PATH: Directory.Build.props

          # Regex pattern to extract version info in a capturing group
          # VERSION_REGEX: ^\s*<Version>(.*)<\/Version>\s*$
          
          # Useful with external providers like Nerdbank.GitVersioning, ignores VERSION_FILE_PATH & VERSION_REGEX
          # VERSION_STATIC: 1.0.0

          # Flag to toggle git tagging, enabled by default
          # TAG_COMMIT: true

          # Format of the git tag, [*] gets replaced with actual version
          # TAG_FORMAT: v*

          # API key to authenticate with NuGet server
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}

          # NuGet server uri hosting the packages, defaults to https://api.nuget.org
          # NUGET_SOURCE: https://api.nuget.org

          # Flag to toggle pushing symbols along with nuget package to the server, disabled by default
          # INCLUDE_SYMBOLS: false

          # Flag to toggle not building the project and letting pack command handle restoring & building, disabled by default
          # NO_BUILD: false

      - name: CocApi.Rest - publish on version change
        uses: alirezanet/publish-nuget@v3.0.4
        continue-on-error: true
        with:
          PROJECT_FILE_PATH: src/CocApi.Rest/CocApi.Rest.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}

      - name: CocApi.Cache - publish on version change
        uses: alirezanet/publish-nuget@v3.0.4
        continue-on-error: true
        with:
          PROJECT_FILE_PATH: src/CocApi.Cache/CocApi.Cache.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}
